<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergiorodriguez.venalau">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReservasActivity" android:label="Reservas" android:parentActivityName=".DeportesHomeActivity"/>
        <activity android:name=".AboutActivity" android:label="Acerca de" android:parentActivityName=".MainActivity"/>
        <activity android:name=".IniciarSesionActivity" android:label="Iniciar Sesión" android:parentActivityName=".MainActivity"/>
        <activity android:name=".RegistroActivity" android:label="Registro" android:parentActivityName=".MainActivity"/>
        <activity android:name=".ImplementosActivity" android:label="Implementos deportivos" android:parentActivityName=".DeportesHomeActivity"/>
        <activity android:name=".EventosActivity" android:label="Eventos" android:parentActivityName=".MainActivity"/>
        <activity android:name=".DetalleEventoActivity" android:label="Eventos" android:parentActivityName=".EventosActivity"/>
        <activity android:name=".DeportesHomeActivity" android:label="Deportes" android:parentActivityName=".MainActivity"/>
        <activity android:name=".ConfirmacionActivity" android:label="Confirmación" android:parentActivityName=".ReservasActivity"/>
        <activity android:name=".EstadoCuentaActivity" android:label="Estado de Cuenta" android:parentActivityName=".DeportesHomeActivity"></activity>
    </application>

</manifest>